---
layout: default
title: Work
---

<div class="hero">
	<hgroup class="wrapper">
	  <h3>Blacksmithing</h3>
	</hgroup>
</div>

<main role="main">
	<nav role="navigation" class="local">
		<ul>
			<li><a href="#" class="local-item active">Show all</a></li>
			<li><a href="#" class="local-item">Steel</a></li>
			<li><a href="#" class="local-item">Wood</a></li>
			<li><a href="#" class="local-item">Fabric</a></li>
		</ul>
	</nav>
	<ul class="grid">
		{% for i in (1...9) %}
		{% include thumb.html %}
		{% endfor %}
	</ul>
</main>
