// ==============================================================================
// 	Global type
// ==============================================================================

hgroup {
	
}

// headers
// ----------------------------------------------------------------------------

h1, %h1 {
	@include rem(font-size, 32px);
	@include merriweather;
	color: $color-text--primary;
	line-height: 1.2;
}

h2, %h2 {
	@include rem(font-size, 26px);
	@include open-sans(light);
	color: $color-text--primary;
	letter-spacing: -0.02em;
	line-height: 1.2;
}

h3, %h3 {
	@include rem(font-size, 18px);
	@include open-sans(bold);
}

h4, %h4 {
	@include rem(font-size, 18px);
	@include open-sans;
}

h5, %h5 {
	@include rem(font-size, 14px);
	@include open-sans;
}

h6, %h6 {
	@include rem(font-size, 12px);
	@include open-sans;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;

	strong, em {
		font-weight: inherit;
		color: $color-highlight;
	}
}

// links
// ----------------------------------------------------------------------------

a {
	@include base-transition;
	text-decoration: none;
	font-family: inherit;
	color: $color-accent;

	&:hover {
		color: darken($color-accent, 5);
	}
}

%base-a-hidden {
	text-decoration: none;
	color: inherit;

	&:hover, &:active {
		color: inherit;
		border-bottom: none;
	}
}

h1, h2, h3, h4, h5, h6 {
	a {
		@extend %base-a-hidden;
	}
}

// p > a {
// 	border-bottom-style: dotted;
// 	border-bottom-width: 1px;
// }

// text, lists, tables
// ----------------------------------------------------------------------------

// bigger first paragraph

p {
	margin: 1em 0;
}

p, table, li {
	@include rem(font-size, 16px);
	@include merriweather($spacing: 0);
	color: $color-text--secondary;

	strong {
		@include merriweather($weight: bold, $spacing: 0);
	}

	em {
		@include merriweather($style: italic, $spacing: 0);
	}
	// font-family: $georgia;
}

.intro, %intro {
	@include rem(font-size, 21px);
}

ol, ul {
	margin-left: 1.5em; // bump to the right a little @ mobile sizes so the numbers/bullets don't run off

	// @media #{$small} {
	// 	margin-left: 0;
	// }
}

time {
	@include open-sans(bold);
	color: $color-accent;
	letter-spacing: -0.02em;
}

// use playfair display if @font-face is supported
.fontface .amp {
	font-family: 'Playfair Display', serif;
	font-style: normal;
	font-weight: normal;
	font-size: 1.1em; // relative to whatever type surrounds it -- it renders slightly bigger
	line-height: 0.9;
}

// otherwise fall back to system fonts @ italic
.no-fontface .amp {
	font-family: "Baskerville", "Palatino", "Book Antiqua", serif;
	font-style: italic;
	font-weight: normal;
	font-size: 1.1em; // relative to whatever type surrounds it -- it renders slightly bigger
	line-height: 0.9;
}


// ==============================================================================
// 	Themes
// ==============================================================================

%theme-dark {
	background: $color-bg--dark;
	color: white;

	h1, h2, h3, h4, h5, h6 {
		color: white;
	}

	a {
		color: $color-highlight;
	}
}

%theme-light {

}
