// ==========================================================================
//  Footer modules
// ==========================================================================

// BASE
// -----------------------------------------------------------------------------

footer, .footer {
	
}


// SUBMODULES
// -----------------------------------------------------------------------------

// global/main footer @ bottom of each page
footer.global, .footer.global {
	@extend %theme-flood;
	@include base-grid-margins(padding, $full: true);
	@include rem(padding-top, 24px);
	@include rem(padding-bottom, 24px);
	// @include rem(margin-top, 36px);
	position: relative;
	overflow: auto;
	text-align: center;

	@media #{$medium} {
		@include rem(height, 140px);
		text-align: justify;
	}

	& > .wrapper {
		@include base-grid-margins($full: true);
		height: 100%;
	}
	
	.global-logo {
		@include rem(margin, 24px auto);
		display: block;
		text-align: center;

		& > img {
			@include inline-block;
		}

		&:hover {
			border: none;
		}
		
		@media #{$medium} {
			@include inline-block--centered(100%);
			float: left;
			margin: 0 $column-gutter 0 0;
			position: relative;

			& > img {
				@include inline-block--centered;
			}
		}
	}

	.global-contact {
		@extend .global-logo;
		
		@media #{$medium} {
			margin: 0;
			float: right;
		}

		& > .button {
			margin: 0;
		}
	}
}

	.powered_by {
		@extend .global-logo;

		@media #{$medium} {
			margin: 0;
		}

		& > small {
			@include rem(font-size, 16px);

			@media #{$medium} {
				@include inline-block--centered;
			}
		}
		
	}

// Local footer
// -----------------------------------------------------------------------------

footer.local, .footer.local {
	@extend %theme-well;
	@include rem(margin-bottom, 36px);
	@include rem(padding, 24px 30px);
	// border-width: 1px;
	
	a {
		@extend %h4;
		@include single-transition;
		// vertical-align: middle;

		&:before {
			content: "+";
			@include rem(font-size, 30px);
			font-weight: bold;
			color: $dark-blue;
			line-height: 1em;
			margin-right: 0.3em;
			// vertical-align: middle;
		}
	}
}
