// ==========================================================================
//  Header modules
// ==========================================================================

// BASE
// -----------------------------------------------------------------------------

[role="banner"], .header {
	
}

// SUBMODULES
// -----------------------------------------------------------------------------

[role="banner"].main {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	right: 0;
	z-index: $z--high;
	height: $l-header-h;
	border-top: 8px solid black;	
	text-align: center;
}

.main-logo {
	@extend %base-a-hidden;
	// @include inline-block;
	display: block;
	left: 50%;
	// margin-left: (61px)/2;
	@include rem(margin, 12px 0 0 -30.5px);
	position: absolute;
}