// ==========================================================================
//  Hero modules
// ==========================================================================

// BASE
// -----------------------------------------------------------------------------

.hero {
	@extend %theme-dark;
	@include rem(padding-top, $l-header-h);
	position: relative;
	top: 0;
	overflow: auto;
	text-align: center;
}

// SUBMODULES
// -----------------------------------------------------------------------------

