// ==========================================================================
//  Header modules
// ==========================================================================

$color-nav-bg: lighten($color-header, 5); // nav dropdown color (mobile/tablet context)
$color-nav-item: lighten($med-gray, 20);
$logo-outset: $base-border--thick; // how far the logo's box sticks out of the header
$logo-width: (22px + 27px + 22px); // width of logo icon -- use nav menu spacing for "padding"
$nav-margin-bottom: 4px; // compensate for the font sitting slightly high of center
$nav-menu-spacing: 14px 22px; // horizontal spacing b/n main menu items
$nav-menu-padding--y: 12px; // vertical padding for nav items
$nav-menu-border: 1px solid $black;

// BASE
// -----------------------------------------------------------------------------

[role="navigation"], .nav {
	
}

// SUBMODULES
// -----------------------------------------------------------------------------

// ------- Global/main nav -------------------------------------------

[role="navigation"].global {
	// @extend %wrapper;
	// @include base-grid-margins($full: true);
	position: relative;
	width: 100%;

	@media #{$small} {
		float: left;
		height: 100%;
		width: auto;
	}
}

[role="navigation"].signup {
	// @extend [role="navigation"].global;
	position: relative;
	width: 100%;

	@media #{$xsmall} {
		float: right;
		height: 100%;
		width: auto;
	}
}

	.global-menu {
		// position: absolute;
		display: block;

		& > li {
			border-bottom: $nav-menu-border;
		}

		@media #{$small} {
			@include nav-list;
			position: relative;
			float: left;
			height: 100%;

			& > li {
				padding: 0;
				border: none;

				@media #{$small} {
					@include inline-block--centered(100%);
					margin: 0 -2px;
				}
			}

			a {
				border: none;
			}
		}
		
	}


	.global-signup {
		& > li {
			border-bottom: $nav-menu-border;

			&:last-child {
				border-bottom: none;
			}
		}

		@media #{$xsmall} {
			@include clearfix;
			@include nav-list;
			position: relative;
			float: right;
			height: 100%;
			border: none;

			& > li {
				@include inline-block--centered(100%);
				margin: 0;
				padding: 0;
				border: none;
			}

			.nav-item {
				@include inline-block--centered(100%);
				@include rem(padding, 0 nth($nav-menu-spacing, 1));
				border: none;
				
				&:hover {
					border: none;
				}
			}
		}

		@media #{$small} {
			border: none;
		}

		.button.secondary.small {
			@include rem(font-size, 16px);
			@include rem(padding, $nav-menu-padding--y ($base-margin--xsmall + ($base-gutter/2)));
			margin: 0;
			width: 100%;
			display: block;
			border-radius: 0;
			text-align: left;
			font-family: $brandon;
			text-transform: uppercase;
			// color: $color-nav-item;
			border: none;

			@media #{$xsmall} {
				@include button($padding: $button-sml, $bg: $primary-color);
				// width: auto;
				// display: inline-block;
				border-radius: $global-radius;
				font-family: $button-font-family;
				text-transform: none;
			}
		}
	}
		
		// basic menu item in the main nav
		.nav-item {
			@include rem(padding, $nav-menu-padding--y ($base-margin--xsmall + ($base-gutter/2)));
			@include rem(font-size, 16px);
			display: block;
			position: relative;
			margin: 0;
			font-family: $brandon;
			text-transform: uppercase;
			color: $color-nav-item;
			background: transparent;
			border: none;
			
			&:hover, &:active, &.active {
				color: white;
				background: transparent;
				border: none;
			}

			@media #{$xsmall} {
				@include rem(padding, $nav-menu-padding--y nth($nav-menu-spacing, 1));
			}

			@media #{$small} {
				@include inline-block--centered(100%);
				@include single-transition;
				@include rem(margin, 0 nth($nav-menu-spacing, 1) -#{$nav-margin-bottom} nth($nav-menu-spacing, 1));
				@include rem(padding, 0 3px);

				&:hover, &:active, &.active {
				border-bottom: none;
			}
			}

			@media #{$medium} {
				@include rem(margin, 0 nth($nav-menu-spacing, 2) -#{$nav-margin-bottom} nth($nav-menu-spacing, 2));
			}

			&.active, %nav-active {
				// @include rem(padding-left, (nth($nav-menu-spacing, 1) - 6px));
				border-left: 6px solid $red;
				color: white;

				@media #{$small} {
					border: none;
					@include rem(padding-left, 3px);

					&:after {
						@include rem(bottom, $nav-margin-bottom - 3px);
						content: " ";
						display: block;
						height: $base-border--thick;
						background: $red;
						position: absolute;
						left: 0;
						width: 100%;
					}
				}
			}
			
			// the logo in the header
			&.logo {
				$darken: 8;
				@include inline-block--centered(100%);
				@include single-transition;
				// @include rem(padding, 0 22px ($logo-outset/2) 22px);
				@include rem(padding, 0 0 ($logo-outset/2) 0);
				@include rem(width, $logo-width);
				@include rem(height, ($header-h + $logo-outset));
				float: left;
				margin-left: 0;
				background: darken($color-header, $darken);
				text-align: center;
				border: none;
				z-index: $base-z--high;
				
				&:hover, &:active {
					background: darken($color-header, $darken + 5);
				}

				&.active:after {
						content: none; // override default .nav-item.active properties
				}

				// &.is-hidden {
				// 	@include base-grid-margins($full: true, $add-gutter: true);
				// 	position: absolute;
				// 	left: 0;
				// }

				& > img {
					@include inline-block--centered;
					text-align: center;
				}
			}
		}

		.js .nav-item.logo.is-hidden {
			top: -#{$header-h + $logo-outset};
			// margin: 0;
		}

	// dropdown button used on the mobile menu
	.global-menu-button {
		@extend .nav-item;
		@include inline-block--centered(100%);
		@include single-transition;
		@include rem(height, $header-h);
		position: relative;
		margin: 0;
		padding-right: 0;
		float: right;
		top: 0;
		box-shadow: none;
		text-shadow: none;
		background: transparent;
		border: none;

		&:hover, &:active {
			box-shadow: none;
			text-shadow: none;
			background: transparent;
			border: none;
			top: 0;

			.icon:before {
				color: $secondary-color;
			}
		}

		.icon:before {
			font-size: em-calc(30px);
		}

		@media #{$xsmall} {
			float: left;
		}

		@media #{$small} {
			@include hidden;
		}
	}

	// div wrapper generated by JS to create a dropdown for the main menu
	#js-global-dropdown {
		@include rem(top, $header-h);
		// @include rem(padding-top, $base-border--thick);
		position: absolute;
		width: 100%;
		left: 0;
		right: 0;
		padding: 0;
		margin: 0;
		clear: both;
		z-index: $base-z--med;
		border: 0;
		border-top: $base-border--thick solid darken($color-nav-bg, 8);
		background: $color-nav-bg;
		display: none; // hide until we reveal it w/JS

		@media #{$xsmall} {
			$triangle-w: 16px;
			@include rem(width, 200px);
			@include rem(left, ($base-margin--xsmall + ($base-gutter/2) + $logo-width));
			border: none;

			// pointer triangle -- stroke
			&:before {
				@include rem(left, (nth($nav-menu-spacing, 1) + 6px));
				content: " ";
				position: absolute;
				@include triangle($triangle-w, $black, up);
				top: -#{$triangle-w};
			}

			// pointer triangle -- fill
			&:after {
				@include rem(left, (nth($nav-menu-spacing, 1) + 6px));
				content: " ";
				position: absolute;
				@include triangle($triangle-w, $color-nav-bg, up);
				top: -#{$triangle-w - 1};
			}
		}
	}

// ------- Inline global nav (appears in the layout instead of the header) ---------------------

[role="navigation"].global.inline {
	@extend %narrow;
	@include rem(height, 60px);
	@include rem(margin-top, 36px);
	border-top: $base-border--thin solid $med-gray;
	text-align: center;

	& > ul {
		@include nav-list;
		position: relative;
		height: 100%;

		& > li {
			padding: 0;
			border: none;
			@include inline-block--centered(100%);
		}
	}

	.global.inline.item {
		@include inline-block--centered(100%);
		@include rem(margin, 0 6px);
		font-family: $brandon;
		font-size: em-calc(16px);
		text-transform: uppercase;

		&:hover {
			border: none;
		}

		@media #{$xsmall} {
			@include rem(margin, 0 24px);
		}
	}
}


// ------- Local nav -------------------------------------------

[role="navigation"].local {

}

// tabs (horizontal) version - hides and reveals adjacent content
[role="navigation"].local.tabs {
	@include hidden;
	z-index: $base-z--med; // needs to appear above everything else so the pointer overlays
	border-bottom: $base-border--thick solid $light-blue;
	// text-align: center;

	@media #{$small} {
		@include restore-visible;
	}

	li {
		@include inline-block;
		// @include rem(margin-right, 36px);
		margin: 0;
		z-index: $base-z--med;
	}
	
	.local.tab {
		color: $light-blue;
		@include rem(padding, 14px 30px 12px 30px);
		@include inline-block;
		border-top-left-radius: $global-radius;
		border-top-right-radius: $global-radius;
		border: none;

		h5 {
			// color: $light-blue;
			margin: 0;
		}

		&:hover, &:hover > h5 {
			@include single-transition;
			color: darken($light-blue, 10);
		}
	}

	.local.tab.active {
		@extend %theme-flood--bright;
		@include inline-block;
		// @include triangle--centered($dir: up, $side: bottom, $loc: 0px, $width: 18px, $color: lighten($med-gray, 10), $selector: before);
		// @include triangle--centered($dir: up, $side: bottom, $loc: -1px, $width: 16px, $color: $light-gray, $selector: after);
		position: relative;

		h5 {
			color: white;
		}
	}

	[href="support-tutorials.html"].local.tab.active {
		@include triangle--centered($dir: up, $side: bottom, $loc: -1px, $width: 16px, $color: white, $selector: after);
	}
}

// "jump" version (pointing to anchors farther down the page)
[role="navigation"].local.jump {
	@include hidden;

	@media #{$small} {
		@include restore-visible;
	}
}

[role="navigation"].strip {
	@include rem(padding, 36px 0);
	@include rem(margin-bottom, 36px);
	border-top: none;
}

.local.tab.active > .local.tab.title {
	@extend %theme-flood--bright;
	color: white;
	// @include inline-block;
	// position: relative;

	&:hover, &:hover > a {
		@include single-transition;
		color: white;
	}

	a {
		color: white;
	}
}

.local.tab.content {
	// @include section(
	// 	$section-type:accordion, 
	// 	$title-selector:".local.tab.title", 
	// 	$content-selector:".local.tab.content"
	// );

	@media #{$small} {
		// @include section(
		// 	$section-type:tabs, 
		// 	$title-selector:".local.tab.title", 
		// 	$content-selector:".local.tab.content"
		// );
		border-top: $base-border--thick solid $light-blue;
		margin-top: $base-border--thick;
	}
}