---
layout: default
title: Thinking
---

<main role="main" class="narrow">
	<ul class="posts">
		{% for post in site.categories.blog %}
		<li class="post excerpt">
			<hgroup>
				<h1>{{ post.title }}</h1>
				{% if post.subtitle %}<h4>{{ post.subtitle }}</h4>{% endif %}
				<time datetime="{{ post.date }}">{{ post.date | date: "%B %d, %Y" }}</time>
			</hgroup>
			<!-- <figure>
				<a href="#"><img src="http://placehold.it/800x450" alt="post image" /></a>
			</figure> -->
			{{ post.excerpt }}
			<a href="#" class="read_more">read more &rsaquo;</a>
		</li>
		{% endfor %}
	</ul>
</main>