<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>{{ site.name }}{% if page.title != "Work" %} | {{ page.title }}{% endif %}</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      {% capture level %}{{ page.url | append:'index.html' | split:'/' | size }}{% endcapture %}
      {% capture relativepath %}{% for i in (3..level) %}../{% endfor %}{% endcapture %}
      <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
      <link rel="stylesheet" href="{{ relativepath }}{{ site.baseurl }}assets/css/app.css">
      <script src="{{ relativepath }}{{ site.baseurl }}assets/js/vendor/modernizr.custom.11128.js"></script>
  </head>
  <body id="{{ page.title | downcase }}">
    <header role="banner" class="main">
      <a href="{{ relativepath }}{{ site.baseurl }}" class="main-logo">
        <img src="{{ relativepath }}{{ site.baseurl }}assets/images/{% if page.title == "Work" %}logo.png{% else %}logo-dark.png{% endif %}" alt="Andrew Perry" /><!--
      --></a>
      <nav role="navigation" class="global">
        <ul>
          <li><a href="{{ relativepath }}{{ site.baseurl }}">Work</a></li>
          <li><a href="{{ relativepath }}{{ site.baseurl }}blog/">Thinking</a></li>
          <li><a href="{{ relativepath }}{{ site.baseurl }}about/">About</a></li>
        </ul>
      </nav>
    </header>

    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    {{ content }}

    <footer role="contentinfo">
      <small>
      &copy; 2014 Andrew Perry. All rights reserved.
    </small>
    </footer>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ relativepath }}{{ site.baseurl }}assets/js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
    <script src="{{ relativepath }}{{ site.baseurl }}assets/js/app.js"></script>

  </body>
</html>