// ===============================================================================
// Frameworks
// ===============================================================================

@import "vendor/bourbon/bourbon";
@import "singularitygs";

// ===============================================================================
// Settings & resets
// ===============================================================================

@import "core/fonts";

@import "core/settings";
@import "core/normalize";


// ===============================================================================
// Core style imports
// ===============================================================================

@import "core/helpers";
@import "core/base";
@import "core/print";
@import "core/syntax";
@import "core/layout";
@import "core/content";

// ===============================================================================
// Modules & components
// ===============================================================================

// components
@import "modules/button";

// modules
@import "modules/header";
@import "modules/navigation";
@import "modules/footer";
@import "modules/hero";
@import "modules/post";
@import "modules/tile";

// ===============================================================================
// Styles of Shame
// -> put quick and dirty hacks here, then clean up & organize later
// ===============================================================================

// #about main p img {
//   display: block;
//   margin: 0 auto;
// }